<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<array>
		<dict>
			<key>kind</key>
			<string>捷达/速腾/宝来/伊兰特/凯越/威驰</string>
			<key>hour</key>
			<string>100元/次</string>
			<key>halfday</key>
			<string>200元/次</string>
			<key>day</key>
			<string>300元/天</string>
			<key>air</key>
			<string>240元/次</string>
			<key>abovehour</key>
			<string>30元/小时</string>
			<key>abovekm</key>
			<string>3元/公里</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>帕萨特/迈腾/君威/天籁/雅阁/凯美瑞</string>
			<key>hour</key>
			<string>200元/次</string>
			<key>halfday</key>
			<string>400元/次</string>
			<key>day</key>
			<string>600元/天</string>
			<key>air</key>
			<string>450元/次</string>
			<key>abovehour</key>
			<string>50元/小时</string>
			<key>abovekm</key>
			<string>5元/公里</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>奥迪/奔驰/宝马/沃尔沃</string>
			<key>hour</key>
			<string>300元/次</string>
			<key>halfday</key>
			<string>500元/次</string>
			<key>day</key>
			<string>800元/天</string>
			<key>air</key>
			<string>550元/次</string>
			<key>abovehour</key>
			<string>70元/小时</string>
			<key>abovekm</key>
			<string>7元/公里</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>别克GL8/路尊/奥德赛</string>
			<key>hour</key>
			<string>260元/次</string>
			<key>halfday</key>
			<string>450元/次</string>
			<key>day</key>
			<string>700元/天</string>
			<key>air</key>
			<string>500元/次</string>
			<key>abovehour</key>
			<string>60元/小时</string>
			<key>abovekm</key>
			<string>6元/公里</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>新海狮/全顺/奔驰面包/依维柯</string>
			<key>hour</key>
			<string>300元/次</string>
			<key>halfday</key>
			<string>500元/次</string>
			<key>day</key>
			<string>800元/天</string>
			<key>air</key>
			<string>550元/次</string>
			<key>abovehour</key>
			<string>80元/小时</string>
			<key>abovekm</key>
			<string>8元/公里</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>考斯特/金龙 /江淮/九龙</string>
			<key>hour</key>
			<string>400元/次</string>
			<key>halfday</key>
			<string>600元/次</string>
			<key>day</key>
			<string>900元/天</string>
			<key>air</key>
			<string>650元/次</string>
			<key>abovehour</key>
			<string>8元/公里</string>
			<key>abovekm</key>
			<string>80元/小时</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>金龙/现代/安凯/中通</string>
			<key>hour</key>
			<string>500元/次</string>
			<key>halfday</key>
			<string>800元/次</string>
			<key>day</key>
			<string>1200元/天</string>
			<key>air</key>
			<string>900元/次</string>
			<key>abovehour</key>
			<string>100元/小时</string>
			<key>abovekm</key>
			<string>10元/公里</string>
		</dict>
	</array>
	<key>class</key>
	<array>
		<string>经济车型(5座)</string>
		<string>舒适车型(5座)</string>
		<string>豪华车型(5座)</string>
		<string>商务车型(7座)</string>
		<string>小型客车(12-17座)</string>
		<string>中型客车(19-28座)</string>
		<string>大型客车(31-51座)</string>
	</array>
</dict>
</plist>
