<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>租车客户端</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.sino.${PRODUCT_NAME:rfc1034identifier}123</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>UserOfRentalCar</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Partner</key>
	<string>2088801237658107</string>
	<key>RSA private key</key>
	<string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALyKNPGQ9hXSxkhP+QQ2Fp+MemmAbHwoSwIq/gBB4gxPbg/DPny4Aby9yQdrGvpSUIrFsNxgdfT6DSXTsXL9Sx7UMdOGSTfoRdmotAEGOfBUqV59X0OXs0mUZeB1N8U022asYGBo2sJlFZZaKQw6pzo7pZmv2lN3XLFzbPqr4KEJAgMBAAECgYA6izfRYs/nCuHjBmIuepUfycEhDW2iR+iyraLddZe5dtiYMGow0/pGHzBTC2D/JZw42xYF+DXocdSvUEKjkB9I1GAvcCE5B9KfLSFYPP6mD2X+0OGIohB6A9ifqTDbyes2F2pX5XhPOJZ1iJggo1drRaorzBCY5/QsEKbsuayU2QJBAPB3Wu0dyg1CiONSGpU6/nuu39zNtmdEDi83B/efR6+XHnHq98t/3Qkyrs5fv8onxpzvNO5bDzBlBLC79KflAscCQQDIuCIyKFHj0r6lhhAGr1nuxB8veKZHSmwgIwBr4G9LqeB8rGqayUNLQoKEPh/wSIUxZosfFhZA0KBycdr1s22vAkA9ZWwM0KdPHWbQC52H7qkdMTgtK0TgNuscOQPKwJtQBNicI28jQUFRYORrAt14IxG97gFovk0xgQliiorb90fvAkBhqbZ50USHJbO9tk118zw/AQ5rerjtVzjlKiK6WqnMlwuznfEA/4zOwb3fupqvv5mPP+XRal3Ji7mF9gAkLPnhAkEA597SzL6poRcLKbBlBEta35gcXkxXUljQxZn8glmRQZOTGjgjBtCeaehnisUfl/5nQcC1hiCsM6FIASbQiARqNA==</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCjkE6WfZeIhbdtasWsejy8Cn/myEsCZUpzVqojnFzc534Z1NCt7c/5hNmIGeHn8pTeUDuyrAeRNV+nNt/YNSbe4E7lFXv5gIBiFcZvCqxf60yqGjNV +n5afWtpZz/FfHkD7+jX7VARID6635OWvNSYS2UH6wMcrvZTIYYvVoqhqwIDAQAB</string>
	<key>Seller</key>
	<string>2088801237658107</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
